<div class="container myController">
    <!--Section: Blog v.4-->
  <section class="my-5">

    <!--Grid row-->

    <h2 class="h1-responsive font-weight-bold text-center mb-4">Alma Mater Studiorum - University of Bologna</h2>
    <p class="h1-responsive text-center mb-4"><i>The oldest university in the world</i></p>
    <div class="row">
      <div class="col-md-12">
        <p class="mb-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Founded in 1088, Bologna University is the oldest university in the world and it has been
            student-centered whilst attracting prominent figures from science and the arts. Today it is a leader
            in the European Higher Education Area and famous for its beauty and integration with the city. Its
            teaching catalogue is diversified and tailored to the needs of present-day society: 221 degree programs
            of which 78 international and 62 taught in English, 33 Departments and over 87,000 students. A further
            4.000 are candidates for its PhDs and 3rd cycle programs. The caliber of its graduates, its
            internationally renowned teachers and its quality research give it a competitive edge, especially in
            the job market.
        </p>
        <!--Featured image-->
        <mdb-card cascade="true" wider="true" reverse="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="https://telegra.ph/file/6b8d2b5f39028f3b5a11c.jpg" alt="Wide sample post image"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Post data-->
          <mdb-card-body cascade="true" class="text-center">
            <h2>
              <a class="font-weight-bold">№ 160 - in QS World University Rankings</a>
            </h2>
            <p style="text-align: unset;"><a style="color: #646464;">Uzbekistan Youth Association in Italy 
                <mdb-icon fas icon="circle" style="font-size: 5px; vertical-align: middle;"></mdb-icon> </a> March 2, 2021</p>
  
            <!--Social shares-->
            <div class="social-counters">


              <a mdbBtn href="https://www.unibo.it/en" target="_blank" color="primary" class="waves-light" mdbWavesEffect>
                <mdb-icon fas icon="home" class="left"></mdb-icon>
                <span class="clearfix d-none d-md-inline-block">Main Website</span>
              </a>
  
              <!--Comments-->
              <a mdbBtn href="https://www.youtube.com/watch?v=Qtk3njqXeEA" target="_blank" color="secondary"
                                                class="waves-light" mdbWavesEffect>
                <mdb-icon fas icon="paperclip" class="left"></mdb-icon>
                <span class="clearfix d-none d-md-inline-block">Enrollment guide</span>
              </a>
  
            </div>

          </mdb-card-body>
          <!--Post data-->
        </mdb-card>
  
        <!--Excerpt-->
        <div class="excerpt mt-5">

            <br>
            
            <h5 class="h3 font-bold" style="color: #4285f4;"><strong>Programs available in English</strong></h5>
            
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There are 7 Bachelor's (1st Cycle Degree) and 70 Master's (2nd Cycle Degree) and 2 Combined Bachelor's
                and Master's Degree (Single Cycle, 5 years) programs taught in English in different campuses of the
                University of Bologna. In order to search for English-taught programs and to know about them in details,
                please use <a href="https://www.unibo.it/en/teaching/degree-programmes?linguaCorso=english" target="_blank">this link</a>.
            </p>

            <br>
            
            <h5 class="h3 font-bold" style="color: #4285f4;"><strong>Admission Tests</strong></h5>
            
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;While you search for degree programs on the University of Bologna website, you can see that there are
                two types of access to the programs: 
            </p>

            <ul>
                <li>Restricted access - entrance exam</li>
                <li>Open access with assessment of personal competencies</li>
            </ul>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Many of the degree programs at Bologna University require candidates to take admission tests to verify
                their previous knowledge and background. Please take time to find out, if the program that you are
                applying to requires such test. If it does, take the admissions test first, then proceed to admissions.
            </p>

            <br>
            
            <h5 class="h3 font-bold" style="color: #4285f4;"><strong>Eligibility: Bachelor's and Combined Degree</strong></h5>
            
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You can be admitted to a First Cycle or Single Cycle Degree Program
                if you hold a foreign secondary school diploma, which
            </p>

            <ul>
                <li>was obtained following at least 12 years of schooling;</li>
                <li>was obtained following a final period of at least two years of successful attendance in a
                    foreign educational system;</li>
                <li>grants access to a program at a university in one’s country of reference which is similar to
                    that being applied to in Italy. If entrance exams are established for university admission in
                    yourcountry (i.e. the Gao Kao in China) you must pass this academic test.</li>
            </ul>

            <br>
            
            <h5 class="h3 font-bold" style="color: #4285f4;"><strong>Eligibility: Master's Degree</strong></h5>
            
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You can be admitted to a Second Cycle Degree Program if you hold a
                suitable foreign university or post-secondary qualification which allows study continuation in the
                subsequent cycle at a university in one’s country of reference.
            </p>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The suitability of the qualification for entry to Second Cycle
                Degree Programs at the University of Bologna is checked by the competent Degree Program Boards,
                which apply the same criteria (curricular requirements and assessment of personal competencies and
                skills) established for candidates holding Italian academic qualifications.
            </p>


        </div>
      </div>
    </div>
    <!--Grid row-->
  
    <hr class="mb-5 mt-4">
  
    <!--Grid row-->
    <div class="row">
      <div class="col-md-12">
        <!--Featured image-->
        <mdb-card cascade="true" wider="true" reverse="true">
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <img src="https://www.travelemiliaromagna.it/img/Archiginnasio_ora_blu_Bologna-e1543489514623.jpg" alt="Second wide sample post image"
              class="img-fluid">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Post data-->
          <mdb-card-body cascade="true" class="text-center">
            <h2>
              <a class="font-weight-bold">The Oldest University in the World</a>
            </h2>
            <p style="text-align: unset;">Follow UNIBO on Social Networks</p>
  
            <!--Social shares-->
            <div class="social-counters ">
  
              <!--Facebook-->
              <a mdbBtn href="https://www.facebook.com/unibo.it" target="_blank"
                        style="background-color: #3b5998; color: white;" class="waves-light" mdbWavesEffect>
                <mdb-icon fab icon="facebook-f" class="left"></mdb-icon>
                <span class="clearfix d-none d-md-inline-block">Facebook</span>
              </a>
  
              <!--Twitter-->
              <a mdbBtn href="https://twitter.com/UniboMagazine" target="_blank"
                        style="background-color: #55acee; color: white;" class="waves-light" mdbWavesEffect>
                <mdb-icon fab icon="twitter" class="left"></mdb-icon>
                <span class="clearfix d-none d-md-inline-block">Twitter</span>
              </a>
  
              <!--Google+-->
              <a mdbBtn href="https://www.youtube.com/user/UniBologna" target="_blank"
                        style="background-color: rgb(204, 0, 0); color: white;" class="waves-light" mdbWavesEffect>
                <mdb-icon fab icon="youtube" class="left"></mdb-icon>
                <span class="clearfix d-none d-md-inline-block">YouTube</span>
              </a>
  
              <!--Comments-->
              <a mdbBtn href="https://www.instagram.com/unibo" target="_blank"
                        style="background: #d6249f;
                        background: radial-gradient(circle farthest-corner at 35% 90%, #ebe7e2, transparent 0%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
                         color: white;" class="waves-light" mdbWavesEffect>
                <mdb-icon fab icon="instagram" class="left"></mdb-icon>
                <span class="clearfix d-none d-md-inline-block">Instagram</span>
              </a>
  
            </div>
            <!--Social shares-->
          </mdb-card-body>
  
  
  
          <!--Post data-->
        </mdb-card>
  
  
        <!--Excerpt-->
        <div class="excerpt mt-5">
            <h5 class="h2 blue-text font-bold"><strong>Admissions</strong></h5>
            <p style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>N.B: There is application fee of 50 euro in Bologna University.</strong></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>* before applying online, you will have to take the admission tests if your desired program requires it</i></p>
            <p style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Step 1.</b> Online application - <a href="https://studenti.unibo.it/sol/welcome.htm?siteLanguage=en" target="_blank">website</a></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Fill up online application form and upload required documents.</i></p>

            <br>

            <p style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Step 2.</b> Make pre-enrollment <a href="https://www.universitaly.it/" target="_blank">online</a> and/or at the Italian Embassy.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you are a non-EU student residing abroad, in addition to applying for admission, you must
                pre-enroll through the Universitaly website.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>* Call and ask the Italian Embassy in your country if you will need to do the pre-enrollment online,
                or in-person at the Embassy.
            </i></p>

            <br>

            <p style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Step 3.</b> Visa Interview and issuance</p>

            <br>

            <p style="font-weight: 400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Step 4.</b> Complete your enrollment in Italy.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>If you are admitted, register on <a
              href="https://studenti.unibo.it/sol/welcome.htm?siteLanguage=en" target="_blank">StudentiOnline</a> and
              pay the first tuition instalment by the deadline set by your degree program, then follow the procedures to
              complete your enrollment at the University of Bologna.</i></p>
            <br>
            <br>

            <h5 class="h2 blue-text font-bold"><strong>Required documents</strong></h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Exact list of required documents can be found while filling the online application. However,
              general requirements are as follows:</p>
            <ul class="ml-4">
              <li>
                <p>Valid Passport or ID document</p>
              </li>
              <li>
                <p>Proof of studies (12 years for Bachelor's degree and at least 3 years of university for Master's
                  degree)</p>
              </li>
              <li>
                <p>Transcript of records</p>
              </li>
              <li>
                <p>SAT test (for some Bachelor's programs)</p>
              </li>
              <li>
                <p>Language proficiency proof (at least B2: IELTS, CEFR, TOEFL, etc). Requirements vary according to
                  the degree level and program</p>
              </li>
            </ul>

            <br>
            <br>

            <h5 class="h2 blue-text font-bold"><strong>Deadlines</strong></h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Some degree programs will start accepting applications to the a.y. 2021/22 in February 2021; other
                degree programs will open the application process in the following months. Lectures for the a.y.
                2021/22 will start in September 2021.</p>

            <br>
            <br>

            <h5 class="h2 blue-text font-bold"><strong>Scholarships</strong></h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Just like some other Italian regions, the region of  Emilia Romagna also supports talented and promising
                students financially, by the local financial assistance program called "<a href="http://www.er-go.it/index.php?id=5963"
                target="_blank">Er.Go</a>". In order to be able to apply for regional
                scholarship a student is required to be admitted one of the Bachelor's or Master's programs mentioned
                above!
            </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The amount of scholarship goes from a <b style="font-weight: 500;">maximum of € 5.397,74</b> to a
                <b style="font-weight: 500;">minimum of € 1.097,55</b> and varies according to the economic conditions
                of the family unit and to the condition of non-resident student, commuter student and resident student.
            </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The scholarship will be paid in three annual installments. In December, in March, from June based on
                students` achieved credits on their academic performance. If they do not achieve required credits at
                university, they may use scholarship and in the worst case they have to give back the money they
                received in December.
            </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The best way to know more about Er.Go is to read its last year <a
                href="http://www.er-go.it/fileadmin/user_upload/mvm/BANDI_2020_2021/GUIDE_REGOLAMENTI/Guida_al_bando_2020_ENG.pdf"
                target="_blank">GUIDE</a>.</p>

            <br>
            <br>

            <h5 class="h2 blue-text font-bold"><strong>Er.Go - How to apply?</strong></h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Step 1.</b> Online application - Complete online application at
                <a href="http://www.er-go.it/" target="_blank">http://www.er-go.it</a>.
            </p>
            <i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Economic condition and required documents to fill online application.</i>
            <ul class="ml-4 my-3">
              <li>
                <i>Family unit composition at the moment of application (Your family is composed by all the family
                    members living at the same house)</i>
              </li>
              <li>
                <i>The previous year gross income of each member of your family unit, including brothers/sisters of
                    legal age. If any does not have an income, is unemployed, a student, or a military, a declaration
                    stating the amount of any unemployment benefit or other allowance received is needed; Number of
                    months each family member worked in previous year (indicating whether it refers to a period of less
                    or more than six months);</i>
              </li>
              <li>
                <i>Floor area of the family home and of any other building owned by the family in the previous year.
                    If your family does not have any property, you must submit a document issued by the competent
                    authority certifying that no one in the family owns a real estate;</i>
              </li>
              <li>
                <i>The amount of the eventual residual bank loan on 31/12 of the previous year on the family home
                    and/or other properties.</i>
              </li>
            </ul>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>- The assets amount on 31/12 of the previous year for each family
                member of legal age.</i></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>- The document certifying the student's invalidity or disability
                if student has disability.</i></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>All income and asset values must be expressed in Euros according
                to the average exchange rate of the previous year, provided for by law. In any case, a currency converter
                is provided in the application form.</i></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Documents must be issued by the competent foreign Authority and
                translated into Italian, then legalized at the Italian Consulate/Embassy in your Country, (check their
                website in due time!) or apostilled, by the competent Authority.</i></p>
            
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>STEP 2.</b> After coming to Italy, bring the originals of above
                documents to designated CAF office to obtain your ISEE Universitario.</p>
            
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>STEP 3.</b> Submit the original documents and the ISEE
                Universitario to the Er.Go office.</p>

            <br>
            <br>

            <h5 class="h2 blue-text font-bold"><strong>Er.Go - deadlines</strong></h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Normally, online application opens at beginning of July and closes at
                the beginning of August for accommodation. For the 2020-2021 deadlines of the online application were
            </p>
            <ul class="ml-4 my-3">
                <li>
                  <i>8 July – 7 August, 2020 for accommodation;</i>
                </li>
                <li>
                  <i>8 July – 4 September 2020 for scholarship.</i>
                </li>
            </ul>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deadlines for 2021-2022 academic year will be published in the middle
                of summer, check its website at that time. Until that time, it is suggested to prepare all required
                documents for the scholarship.</p>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Online application can be confusing if you do not read its manual how
                to do it, you can learn it from previous years call or when new call is released. Er.Go has also live
                helping service chat on its website for filling applications for scholarships. You can get an overall
                idea on this brochure.</p>
        </div>
      </div>
    </div>
    <!--Grid row-->
  
    <hr class="mb-5 mt-4">

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Disclaimer: Please have a look at the programs and specific requirements (admission tests, SAT, IELTS, etc).
        If you still have further questions, contact us at: <a href="https://t.me/contact_uzyouthitaly" target="_blank">@contact_uzyouthitaly</a></b></p>
  
  </section>
  <!--Section: Blog v.4-->
</div>