<div class="container my-5 myController">
    <!--Section: Magazine v.3-->
  <section class="magazine-section container mb-5">

    <!-- Section heading -->
    <h2 class="h1 text-center font-bold light-blue-text my-5" *ngIf="isUz">Italiya Universitetlari</h2>
    <h2 class="h1 text-center font-bold light-blue-text my-5" *ngIf="isEn">Italian Universities</h2>
    <h2 class="h1 text-center font-bold light-blue-text my-5" *ngIf="isRu">Italian Universities</h2>
    <!-- Section description -->
    <p *ngIf="isUz" class="text-center w-responsive mx-auto mb-5">Assotsiyatsiyaning asosiy maqsadi, yurtimizdagi yoshlarni Italiya Universitetilari bilan
      yaqindan tanishtirish, ularga talabalikkacha bo’lgan davrda ko’maklashish, aniqroq qilib aytganda Universitetga
      topshirish uchun qanday hujjatlar kerak bo’ladi, Universitet tomonidan qanday talablar qo’yilgan, Universitet va
      Italiya hukumati tomonidan ta’sis etilgan grantlar (scholarship) to’g’risida ma’lumot, VISA olish tartibi kabi
      savollarga javob topishda ko’maklashadi.</p>
    <p *ngIf="isEn" class="text-center w-responsive mx-auto mb-5">Our aim to familiarize the youth in our country about Italian Universities, to
      help them with university application, as well as informing our fellow compatriots about latest changes in
      Italy and to organize diverse social events for them.</p>
    <p *ngIf="isRu" class="text-center w-responsive mx-auto mb-5">Il nostro obiettivo è quello di familiarizzare i giovani del nostro paese sulle
      università italiane, di aiutarli con la domanda universitaria, nonché di informare i nostri connazionali sugli
      ultimi cambiamenti in Italia e di organizzare diversi eventi sociali per loro.</p>
    
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-5">
  
        <!-- Featured news -->
        <div class="single-news mb-3">
  
          <!-- Image -->
          <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="https://telegra.ph/file/6b8d2b5f39028f3b5a11c.jpg" alt="Sample image" style="height: 226.69px;">
            <a routerLink="./bologna">
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
            </a>
          </div>
  
          <!-- Grid row -->
          <div class="row mb-3">
  
            <!-- Grid column -->
            <div class="col-12">
  
              <!-- Badge -->
              <a>
                <mdb-badge color="pink">
                  <mdb-icon fas icon="user-graduate" class="pr-2" aria-hidden="true"></mdb-icon>Bologna</mdb-badge>
              </a>
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a class="font-weight-bold" style="color: inherit;" routerLink="./bologna">Università di Bologna</a>
            </div>
          </div>
  
        </div>
        <!-- Featured news -->
  
        <!-- Small news -->
        <div class="single-news mb-3">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <mdb-icon fas icon="check" class="pr-2"></mdb-icon>
              <a>The oldest university in the world</a>
            </div>
          </div>
  
        </div>
        <!-- Small news -->
  
        <!-- Small news -->
        <div class="single-news mb-3">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <mdb-icon fas icon="check" class="pr-2"></mdb-icon>
              <a>80 program in English</a>
            </div>
          </div>
  
        </div>
        <!-- Small news -->
  
        <!-- Small news -->
        <div class="single-news mb-3">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <mdb-icon fas icon="check" class="pr-2"></mdb-icon>
              <a>Receive up to 5300 € of scholarship</a>
            </div>
          </div>
  
        </div>
        <!-- Small news -->
  
        <!-- Small news -->
        <div class="single-news">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0">
              <mdb-icon fas icon="check" class="pr-2"></mdb-icon>
              <a>85.000 students</a>
            </div>
          </div>
  
        </div>
        <!-- Small news -->
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-5">
  
        <!-- Featured news -->
        <div class="single-news mb-3">
  
          <!-- Image -->
          <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="https://www.datamanager.it/wp-content/uploads/2020/09/CAF_gallery_01.jpg"
                                                            alt="Sample image" style="width: 100%; height: 226.7px;">
            <a routerLink="./ca-foscari">
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
            </a>
          </div>
  
          <!-- Grid row -->
          <div class="row mb-3">
  
            <!-- Grid column -->
            <div class="col-12">
  
              <!-- Badge -->
              <a>
                <mdb-badge color="deep-orange">
                  <mdb-icon fas icon="university" class="pr-2" aria-hidden="true"></mdb-icon>Venice</mdb-badge>
              </a>
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a routerLink="./ca-foscari" class="font-weight-bold" style="color: inherit;">Ca' Foscari University of Venice</a>
            </div>
          </div>
  
        </div>
        <!-- Featured news -->
  
        <!-- Small news -->
        <div class="single-news mb-3">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <mdb-icon fas icon="check" class="pr-2"></mdb-icon>
              <a>Trends in the blogosphere for 2016.</a>
            </div>
          </div>
  
        </div>
        <!-- Small news -->
  
        <!-- Small news -->
        <div class="single-news mb-3">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <mdb-icon fas icon="check" class="pr-2"></mdb-icon>
              <a>Where you eat the best lunch in Warsaw?</a>
            </div>
          </div>
  
        </div>
        <!-- Small news -->
  
        <!-- Small news -->
        <div class="single-news mb-3">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <mdb-icon fas icon="check" class="pr-2"></mdb-icon>
              <a>What camera take for holidays?</a>
            </div>
          </div>
  
        </div>
        <!-- Small news -->
  
        <!-- Small news -->
        <div class="single-news">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0">
              <mdb-icon fas icon="check" class="pr-2"></mdb-icon>
              <a>Why you should visit Lisbon?</a>
            </div>
          </div>
  
        </div>
        <!-- Small news -->
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-0">
  
        <!-- Featured news -->
        <div class="single-news mb-3">
  
          <!-- Image -->
          <div class="view overlay rounded z-depth-2 mb-4">
            <img class="img-fluid" src="https://www.sistemi-integrati.net/wp-content/uploads/2020/11/La-Sapienza-Roma-scaled.jpg" alt="Sample image">
            <a routerLink="./sapienza">
              <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
            </a>
          </div>
  
          <!-- Grid row -->
          <div class="row mb-3">
  
            <!-- Grid column -->
            <div class="col-12">
  
              <!-- Badge -->
              <a>
                <mdb-badge success="true">
                  <mdb-icon fas icon="graduation-cap" class="pr-2" aria-hidden="true"></mdb-icon>Rome</mdb-badge>
              </a>
  
            </div>
            <!-- Grid column -->
  
          </div>
          <!-- Grid row -->
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <a class="font-weight-bold" style="color: inherit;" routerLink="./sapienza">Sapienza Università di Roma</a>
            </div>
          </div>
  
        </div>
        <!-- Featured news -->
  
        <!-- Small news -->
        <div class="single-news mb-3">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <mdb-icon fas icon="check" class="pr-2"></mdb-icon>
              <a>700 years of history</a>
            </div>
          </div>
  
        </div>
        <!-- Small news -->
  
        <!-- Small news -->
        <div class="single-news mb-3">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <mdb-icon fas icon="check" class="pr-2"></mdb-icon>
              <a>Study for free</a>
            </div>
          </div>
  
        </div>
        <!-- Small news -->
  
        <!-- Small news -->
        <div class="single-news mb-3">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0 mb-3">
              <mdb-icon fas icon="check" class="pr-2"></mdb-icon>
              <a>Receive up to 5100 € of scholarship</a>
            </div>
          </div>
  
        </div>
        <!-- Small news -->
  
        <!-- Small news -->
        <div class="single-news">
  
          <!-- Title -->
          <div class="d-flex justify-content-between">
            <div class="col-11 text-truncate pl-0">
              <mdb-icon fas icon="check" class="pr-2"></mdb-icon>
              <a>115,000 students</a>
            </div>
          </div>
  
        </div>
        <!-- Small news -->
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!--Section: Magazine v.3-->
</div>